@use 'vars' as v;

:host {
  position: fixed;
  top: 0;
  left: 0;

  display: block;
  pointer-events: none;

  &.blended {
    mix-blend-mode: difference;
  }

  .content {
    padding: 0.5rem;
    min-width: 1rem;
    min-height: 1rem;

    border-radius: 0.25rem;
    background-color: var(--primary-color);

    transform: translate(-50%, -50%);

    overflow: hidden;


    .text {
      text-align: center;
      color: var(--bg-color);

      transition-property: transform;
      transform-origin: center;
      transition-duration: v.$transition-time;
    }
  }
}
