<p class="intro-text">
  <span class="intro-text__title">
    I'm a dedicated front-end developer and UX/UI designer with a knack for crafting engaging digital experiences.
  My passion for visual interfaces began at an early age, and over the years, I've honed my skills to blend creativity with
  technical expertise.
  </span>
  <span class="intro-text__title">
  Whether it's creating seamless user journeys or integrating 3D elements into web projects, I strive to push the boundaries of what's possible online.
  </span>

</p>

<div class="color-wrapper">
  <app-color-card color="primary">
    <span>HEX: #E8002D,</span>
    <span>RGB: 232, 0, 45,</span>
    <span>HSL: 348, 100%, 45%,</span>
    <span>HSB: 348, 100%, 91%,</span>
    <span>CMYK: 0%, 100%, 81%, 9%,</span>
    <span>WEBSAFE: #FF0033</span>
  </app-color-card>
  <app-color-card color="secondary">
    <span>HEX: #5AF4ED</span>
    <span>RGB: 90, 244, 237,</span>
    <span>HSL: 177, 88%, 65%,</span>
    <span>HSB: 177, 63%, 96%,</span>
    <span>CMYK: 63%, 0%, 3%, 4%,</span>
    <span>WEBSAFE: #66FFFF</span>
  </app-color-card>
</div>

<div #about class="about">
  <div class="about__left">
    <p>
      My career path has been an exciting journey from freelancing to working with large enterprises.
      Along the way, I've developed a methodical approach to problem-solving, believing that precise analysis is key to
      delivering lasting solutions.
      This approach has been complemented by my love for crafting intuitive user experiences, focusing on fonts, colors,
      and motion.
      From designing front-end architectures to optimizing performance, my work aims to enhance both functionality and
      aesthetics.
    </p>
  </div>

  <app-logo-block [parent]="aboutEl()" />
</div>
