@use 'commons' as c;
@use 'typo' as t;
@use 'utils' as u;

:host {
  position: relative;
  display: flex;
  flex-direction: column;

  @include c.sectionPadding;

  p.huge {
    @include t.text-huge;
  }

  .color-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3vh;

    margin-top: 4vh;

    span {
      display: block;
    }
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;

    margin: 4vh 0;

    p {
      padding: 0 4vw;
    }

    app-logo-block {
      margin-top: 4vh;
    }
  }

  @include u.media('tl') {

    .color-wrapper {
      flex-direction: row;
      gap: 2vw;

      app-color-card {
        flex: 1;
      }
    }

    .about-wrapper {
      flex-direction: row;
      align-items: center;

      gap: 2vw;

      p {
        flex: 2;
        padding: 0;
      }

      app-logo-block {
        flex: 3;
      }
    }
  }
}
