<p class="text-secondary">
  I'm a
  <span class="flicker-fade-in">front-end engineer</span>
  with a deep love for
  <span [textScrambleLeftToRight]="'UX/UI design'" [paused]="!visible()" [iteration]="10">----- //////</span>
  and 3D CGI.
</p>
<p>
  <span class="slow-fade-in">Passionate </span>
  <span [textScrambleLeftToRight]="'about visual interfaces'" [paused]="!visible()">----- ////// ----------</span>
  <span class="slow-fade-in"> from early age, I have honed my design and development skills through a career
  that has taken me from freelance to enterprise companies</span>
  <span class="flicker-fade-in">I use a methodical approach for each task, </span>
  believing that an accurate and precise analysis is the foundation of any solid, effective and lasting solution.
  <span class="slow-fade-in">This approach has always been complemented by my love in crafting intuitive </span>
  and effective user experiences, playing with fonts,
  <span [textScrambleLeftToRight]="' colors and motion.'" [paused]="!visible()"> ----- and ------.</span>
</p>
