@use "effects" as e;
@use "utils" as u;

:host {
  position: relative;
  display: block;

  .flicker-fade-in,
  .slow-fade-in {
    opacity: 0;
  }

  & p:last-child {
    color: var(--secondary-color);
  }

  & p:not(:last-child) {
    margin-bottom: 2rem;
  }

  &.visible {
    .slow-fade-in {
      @include e.slowFadeIn;
    }

    .flicker-fade-in {
      @include e.flickerFadeIn;
    }
  }

  @include u.media('tl') {
    height: 100%;
    padding: 20vh 10vw;
    min-width: 80vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include u.media('d') {
    min-width: 60vw;
  }

  @include u.media('dl') {
    min-width: 60vw;
  }
}
