/*
@use 'effects' as e;
@use 'commons' as c;
@use 'typo' as t;
@use 'utils' as u;

:host {
  position: relative;
  display: block;

  @include c.verticalPadding;
  @include c.sidesPadding;

  @include t.text-secondary;

  section {
    p {
      margin-bottom: 8vh;

      .flicker-fade-in {
        opacity: 0;
      }

      &.visible .flicker-fade-in {
        @include e.flickerFadeIn;
      }
    }

    b {
      @include t.text-primary;
    }

    u {
      color: var(--primary-color);
      text-decoration: none;
    }

    .flicker-fade-in {
      opacity: 0;
    }

    &.visible .flicker-fade-in {
      @include e.flickerFadeIn;
    }
  }
}
*/
