<section
  inViewport
  (visibilityChange)="visibilityChange($event)">
  <h2 class="visually-hidden">What I do</h2>
  <p>Development of robust, scalable front-end solutions for <b>E-Commerce platforms</b>, <b>SPA/MPA applications</b>,
    portals, CMS, back office systems, and PWAs. Includes <b>architectural design</b> for back-end service integration,
    dependency optimization, and performance enhancement. Expertise in establishing team workflows aligned with <b>CI/CD
      infrastructures</b> and maintaining code quality standards. Solutions implemented across major front-end
    frameworks.</p>

  <p>Cross-platform <b>UX design</b> with emphasis on <b>information architecture</b>, <b>accessibility standards</b>,
    and comprehensive testing protocols. Specialization in transforming UX wireframes and low-fidelity interfaces into
    refined solutions through strategic implementation of <b>color theory</b>, typography principles, and iconographic
    design.</p>

  <p>Creation of <b>3D models</b> and scenes optimized for both <b>real-time</b> and <b>production rendering</b>,
    encompassing the complete pipeline from modeling through texturing to final composition. Implementation of real-time
    web libraries and <b>Unreal Engine</b> for end-user applications and development tools.</p>
</section>
