<section
  inViewport
  [class.visible]="sectionVisible"
  (visibilityChange)="visibilityChange($event)">
  <h2 class="visually-hidden">What I do</h2>
  <p>
    <span class="flicker-fade-in">Development of robust, scalable </span>
    <u>front-end</u>
    <span class="flicker-fade-in"> solutions for E-Commerce platforms, SPA/MPA applications, portals, CMS, back office systems, and PWAs. Inclu</span>
    <u>de</u>
    <span class="flicker-fade-in">s architectural design for back-end ser</span>
    <u>v</u>
    <span class="flicker-fade-in">ice integration, dependency optimization, and performance enhancement. Expertise in </span>
    <u>e</u>
    <span class="flicker-fade-in">stab</span>
    <u>l</u>
    <span class="flicker-fade-in">ishing team w</span>
    <u>o</u>
    <span class="flicker-fade-in">rkflows aligned with CI/CD infrastructures and maintaining code quality standards. Solutions im</span>
    <u>p</u>
    <span class="flicker-fade-in">le</span>
    <u>ment</u>
    <span class="flicker-fade-in">ed across major front-end frameworks.</span>
  </p>

  <p>
    <span class="flicker-fade-in">Cross-platform UX design with emphasis on information architecture, accessibility standards,
    and comprehensive testing protocols. Specialization in transforming </span>
    <u>UX</u>
    <span class="flicker-fade-in"> wireframes and low-fidelity interfaces into refined sol</span>
    <u>u</u>
    <span class="flicker-fade-in">t</span>
    <u>i</u>
    <span class="flicker-fade-in">ons through strategic implementation of color theory, typography principles, andiconographicdesign.</span>
  </p>

  <p>
    <u>C</u>
    <span class="flicker-fade-in">reation of 3D models and scenes optimized for both real-time and production rendering, encompassing the complete pipeline from modelin</span>
    <u>g</u>
    <span class="flicker-fade-in"> through texturing to f</span>
    <u>i</u>
    <span class="flicker-fade-in">nal composition. Implementation of real-time web libraries and Unreal Engine for end-user applications and development tools.
    </span>
  </p>
</section>
