@use 'commons' as c;
@use 'typo' as t;
@use 'utils' as u;
@use 'vars' as v;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  padding: calc(#{c.$padding * 0.25}) c.$padding;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: transform v.$transition-time ease-in;

  @include u.zIndex('header');

  &.hidden {
    transform: translateY(-100%);
  }

  .social {
    > *:not(:last-child) {
      margin-right: 2vw;
    }
  }

  .extra {
    font-weight: 700;
  }
}
