@use 'commons' as c;
@use 'typo' as t;
@use 'utils' as u;
@use 'vars' as v;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  padding: calc(#{c.$padding * 0.25}) c.$padding;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transform: translateY(-100%);
  opacity: 0;

  @include u.zIndex('header');

  &.ready {
    transform: translateY(0);
    opacity: 1;
    transition-property: transform, filter, opacity;
    transition-duration: v.$transition-time * 2;
    transition-timing-function: ease-out;
  }

  &.hidden {
    transform: translateY(-100%);
    transition: transform v.$transition-time ease-in !important;
  }

  .social {
    > *:not(:last-child) {
      margin-right: 2vw;
    }
  }

  // Right contents
  .extra {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 3vw;
    }

    .version {
      font-weight: 700;
    }

    .sound {
      width: 1.25rem;
      height: 1.25rem;
      background-color: var(--text-color);

      transition: background-color v.$transition-time ease-in-out;

      &--off {
        mask-image: url('/vectors/sound-off.svg');
        mask-repeat: no-repeat;
      }

      &--on {
        mask-image: url('/vectors/sound-on.svg');
        mask-repeat: repeat;
        mask-position: 1.25rem;
        animation: sound-on-loop v.$transition-time-long * 2 linear infinite;
      }
    }

    @include u.media('mouse') {
      &:hover .sound {
        background-color: var(--primary-color);
      }
    }
  }
}

@keyframes sound-on-loop {
  from {
    mask-position: 0;
  }

  to {
    mask-position: 1.25rem
  }
}
