@use 'commons' as c;
@use 'typo' as t;
@use 'utils' as u;
@use 'vars' as v;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  padding: calc(#{c.$padding * 0.25}) c.$padding;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transform: translateY(-100%);
  opacity: 0;

  @include u.zIndex('header');

  &.ready {
    transform: translateY(0);
    opacity: 1;
    transition-property: transform, filter, opacity;
    transition-duration: v.$transition-time * 2;
    transition-timing-function: ease-out;
  }

  &.hidden {
    transform: translateY(-100%);
    transition: transform v.$transition-time ease-in !important;
  }

  .social {
    > *:not(:last-child) {
      margin-right: 2vw;
    }
  }

  // Right contents
  .extra {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 3vw;
    }

    .sound-message {
      position: relative;
      display: none;

      &:before {
        content: '';

        position: absolute;
        right: 0;
        top: 0;
        background: var(--text-color);

        width: 0.5rem;
        height: 0.5rem;

        transform: translate(50%, 0.5rem) rotate(45deg);
      }

      @include t.mini-text;
      @include u.media('mouse') {
        display: flex;
        align-items: center;
        height: 1.5rem;

        margin-right: 0.75rem;
        padding: 0 0.5rem;
        border-radius: 0.25rem;

        background-color: var(--text-color);
        color: var(--bg-color);

        text-align: right;
        white-space: nowrap;
      }
    }

    .version {
      font-weight: 700;
    }
  }
}

