@use 'typo' as t;
@use 'commons' as c;
@use 'utils' as u;

:host {
  position: relative;
  display: block;

  @include c.verticalPadding;
  @include c.sidesPadding;

  @include u.media('d') {
    padding-right: 20vw;
  }

  @include u.media('dl') {
    padding-right: 30vw;
  }

  @include u.media('dxl') {
    padding-right: 40vw;
  }

  p {
    margin-bottom: 4vh;
  }

  b {
    @include t.text-secondary;
  }

  h2 {
    @include t.text-strong;
  }

  .wrapper {
    display: flex;
    flex-flow: column wrap;
    gap: 6vh;

    @include u.media('tl') {
      flex-flow: row;
      gap: 6vw;
    }

    .history li{
      margin-bottom: 1.5rem;
    }
  }
}
