@use 'commons' as c;
@use 'typo' as t;
@use 'utils' as u;
@use 'vars' as v;

:host {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--secondary-color);

  transform: translateY(50%) scale(1.1);
  opacity: 0;

  @include c.headerFooterPadding;
  @include t.text-small;

  &.show {
    transition-property: transform, opacity;
    transition-duration: v.$transition-time-double;
    transition-timing-function: ease-in-out;

    opacity: 1;
    transform: translateY(0) scale(1);
  }

  .scroll-info {
    position: absolute;
    bottom: 6rem;
    left:2rem;

    .q {
      width: 0.75rem;
      height: 0.75rem;
      margin: 0.25rem 0;

      background-color: var(--primary-color);

      border-color: var(--bg-color);
      border-style: solid;
      border-radius: 0.125rem;

      transition-property: background-color, border-width;
      transition-duration: v.$transition-time;
      transition-timing-function: ease-in-out;

      &--empty {
        border-width: 0.35rem 0;
        background-color: var(--secondary-color);
      }
    }
  }

  //#region geo location

  &.show-geo {
    justify-content: space-between;
  }

  .geo-location span:not(:last-child) {
    margin-right: 2rem;
  }

  //#endregion

  //#region Social

  a {
    min-width: 1rem;
    display: inline-block;

    border-radius: 0.25rem;
    text-align: center;

    &:not(:first-child) {
      margin-left: 1.5rem
    }
  }

  //#endregion
}
