<noise-svg-filter />

<!--@if (isDesktop) {
  <div class="scroll-info">
    @for (s of scrollBinary(); track $index) {
      <div class="q" [ngClass]="{'q&#45;&#45;filled': s, 'q&#45;&#45;empty': !s}"></div>
    }
    <div class="arrows">
      <div class="material-symbols-outlined" [class.active]="scrollDirection() === 'ArrowUp'">
        keyboard_arrow_up
      </div>

        <div class="material-symbols-outlined" [class.active]="scrollDirection() === 'ArrowDown'">
        keyboard_arrow_down
      </div>
    </div>
  </div>
}-->

@let wData = weatherData | async;
@if (isDesktop) {
  <div class="geo-location" [class.show]="geoLocationCoords">
    <span>
      {{ geoLocationCoords?.lat }} | {{ geoLocationCoords?.lon }}
    </span>
    <span>
      {{ timeData?.month }} | {{ timeData?.day }} | {{ timeData?.year }} - {{ timeData?.hour }}:{{ timeData?.minute }}
    </span>
    <span>
      {{ wData?.temp }}
    </span>
    <span>
      {{ wData?.windSpeed }} | {{ wData?.windDirection }}
    </span>
  </div>
}
<div class="social">
  <a href="mailto:info@mauti.it" target="_blank">&#64;</a>
  <a href="https://t.me/Aman1975" target="_blank">T</a>
  <a href="https://www.behance.net/mandinia" target="_blank">Be</a>
  <a href="https://www.instagram.com/andreamandini/" target="_blank">I</a>
</div>
