<section class="contents" [class.visible]="visible">
  <h1 hidden>Acknowledgment</h1>
  <p>
    <span class="slow-fade-in">This site uses your</span>
    <span class="flicker-fade-in"> location</span>
    <span class="slow-fade-in"> and </span>
    <span class="flicker-fade-in"> sensors</span>
    <span class="slow-fade-in"> only for visual effects.</span>
    <span class="flicker-fade-in"> No data or information</span>
    <span [textScrambleLeftToRight]="' is collected, stored or shared in any way.'" [paused]="!visible"
          [iteration]="2"></span>
  </p>
  @if(!checkMobile() && this.screenSizeSrv.relatedTo('tl') === 'before') {
    <spinners-pack />
  }
  <div class="buttons">
    <button class="large" app-button>ENABLE</button>
    <button app-button variant="tertiary">＞﹏＜</button>
  </div>

</section>
