@use 'utils' as u;
@use 'effects' as e;
@use 'vars' as v;

:host {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .contents {
    max-width: 40rem;
    margin-top: 2rem;
    padding: 0 2rem;

    color: var(--secondary-color);

    p {
      margin-bottom: 1rem;
    }

    .buttons {
      display: inline-flex;
      margin-top: 1rem;

      button {
        opacity: 0;
        transform: translateY(2rem);

        &:not(:last-child) {
          margin-right: 1.25rem;
        }

        &.large {
          padding-left: 3rem;
          padding-right: 3rem;
        }
      }
    }

    .flicker-fade-in,
    .slow-fade-in
    {
      opacity: 0;
    }

    spinners-pack {
      width: 80vw;
    }

    &.visible {

      .flicker-fade-in {
        @include e.flickerFadeIn;
      }
      .slow-fade-in {
        @include e.slowFadeIn;
      }

      .buttons {

        button {
          opacity: 1;
          transform: translateY(0);

          transition-property: transform, opacity;
          transition-duration: v.$transition-time-double;
          transition-timing-function: ease-out;

          @for $i from 1 through 2 {
            &:nth-child(#{$i}) {
              transition-delay: $i * 0.2s;
            }
          }
        }
      }
    }

    @include u.media('t') {
      max-width: 50rem;
    }

    @include u.media('d') {
      max-width: 64rem;
    }

    @include u.media('dl') {
      max-width: 85vw;
      p {
        max-width: 72rem;
        transform: translateX(4vw);
      }
      .buttons {
        transform: translateX(4vw);
      }
    }
  }
}
