@use 'utils' as u;
@use 'effects' as e;

:host {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 2rem;

    .flicker-fade-in,
    .slow-fade-in
    {
      opacity: 0;
    }
  }

  .contents {
    max-width: 40rem;
    margin-top: 2rem;
    padding: 0 2rem;

    color: var(--secondary-color);

    &.visible {
      .flicker-fade-in {
        @include e.flickerFadeIn;
      }
      .slow-fade-in {
        @include e.slowFadeIn;
      }
    }

    .buttons {
      display: flex;

      button:not(:last-child) {
        margin-right: 1.25rem;
      }

      button.large {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }

    @include u.media('t') {
      max-width: 50rem;
    }

    @include u.media('d') {
      max-width: 64rem;
    }

    @include u.media('dl') {
      max-width: 72rem;
      transform: translateX(-25%);
    }
  }
}
