@use '../styles/commons' as c;
@use '../styles/typo' as t;
@use '../styles/utils' as u;

:host {
  position: fixed;
  width: 100%;

  padding: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include c.headerFooterPadding;
  @include u.zIndex('header');

  .controls {
    display: flex;
    align-items: center;
    color: var(--secondary-color);

    @include t.text-small;

    button {

      margin-right: 2rem;

      @include u.media('tl') {
        margin-right: 3rem;
      }

      @include u.media('dl') {
        margin-right: 4rem;
      }
    }
  }
}
