@use 'commons' as c;
@use 'typo' as t;
@use 'utils' as u;
@use 'vars' as v;

:host {
  position: fixed;
  width: 100%;

  padding: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  writing-mode: lr;
  color: var(--secondary-color);

  transition-property: color, font-size;
  transition-duration: v.$transition-time;
  transition-timing-function: ease-in-out;

  @include c.headerFooterPadding;
  @include u.zIndex('header');

  .section-title span {
    color: var(--primary-color);
  }

  @include u.media('d') {
    align-items: flex-start;

    .section-title {
      transform: translateY(0.5rem);

      writing-mode: vertical-lr;
      font-size: 2rem;
      @include t.text-weight()
    }
  }

  .controls {
    display: flex;
    align-items: center;
    color: var(--secondary-color);

    opacity: 0;
    transform: translateY(-25%) scale(1.1);

    @include t.text-small;

    &.show {
      transition-property: transform, opacity;
      transition-duration: v.$transition-time-double;
      transition-timing-function: ease-in-out;

      opacity: 1;
      transform: translateY(0) scale(1);
    }

    button {
      margin-right: 2rem;

      @include u.media('tl') {
        margin-right: 3rem;
      }

      @include u.media('dl') {
        margin-right: 4rem;
      }
    }
  }
}
