@use "utils" as u;

.my-button {
  font-weight: 700;
  color: var(--bg-color);
  background-color: var(--text-color);

  padding: 0.5rem;
  border-radius: 0.25rem;

  @include u.media('mouse') {
    &:hover,
    &:focus {
      background-color: var(--primary-color);
      color: var(--bg-color);
    }
  }
}
