@use "utils" as u;
@use "vars" as v;

.my-links {
  padding: 0.5rem;
  border-radius: 0.25rem;

  font-weight: 700;
  color: var(--text-color);
  text-decoration: underline;

  @include u.media('mouse') {

    transition-property: background-color, color;
    transition-duration: v.$transition-time;
    transition-timing-function: ease-in-out;

    &:hover,
    &:focus {
      background-color: var(--primary-color);
      color: var(--bg-color);
    }
  }
}
