<p class="boring-title">
  Boring, boring, boring
</p>

<p class="boring-list">
  <span>Javascript</span> *
  <span>Typescript</span> *
  <span>C#</span> *
  <span>Node JS</span> *
  <span>HTML</span> *
  <span>CSS / SCSS / SASS</span> *
  <span>Angular / React / Vue and more</span> *
  <span>GitHub / Bitbucket</span> *
  <span>Docker</span> *
  <span>Atlassian’s tools suite</span> *
  <span>Three / BabylonJS</span> *
  <span>UE5</span> *
  <span>Proficient in Agile / Scrum methodology</span>
</p>

<ul class="career-wrapper">
  @for (c of careerSteps; track $index) {
    <li>
      <div class="years">/// {{ c.startDate.getFullYear() }} - {{ c.endDate.getFullYear() }}</div>
      <div class="role">{{ c.role }}</div>
      <div class="company">{{ c.company }}</div>
    </li>

  }
</ul>
