@use 'commons' as c;
@use 'utils' as u;
@use 'typo' as t;

:host {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-top: 6vh;

  @include c.sectionPadding;

  .boring-title {
    padding-bottom: 1.5vh;
    border-bottom: 4px solid var(--text-color);

    @include t.text-huge;
  }

  .boring-list {
    font-weight: 400;
    margin-top: 2vh;
    font-size: 6vw;
  }

  ul.career {
    margin-top: 6vh;
    perspective: 50vw;

    li {
      width: 100%;
      padding: 1vh;
      display: flex;
      flex-direction: column;
      column-gap: 0.5rem;

      background-color: var(--secondary-color);

      transform-origin: top center;

      .years {
        margin-bottom: 0.25rem;
        white-space: nowrap;
        font-size: 0.875rem;
      }

      .role {
        font-weight: 800;
        font-size: 1.25rem;
        text-transform: uppercase;
      }

      .company {
        margin-top: 0.25rem;
        font-size: 0.875rem;
        text-transform: uppercase;
      }
    }

    li:not(:last-child) {
      margin-bottom: 0.5vh;
    }

    li:first-child {
      background-color: var(--primary-color);
      color: var(--bg-color);
    }
  }

  @include u.media('tl') {
    margin-top: 10vh;

    p.boring-list {
      font-size: 4vw;
    }

    ul.career li {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      column-gap: 2vw;

      & > *:last-child {
        margin-left: auto;
      }
    }
  }

  @include u.media('d') {
    p.boring-list {
      font-size: 3vw;
    }
  }

  @include u.media('dm') {
    ul.career {
      margin-top: 12vh;
      width: 70vw;
      margin-left: 22vw;

      li {
        .years {
          margin-bottom: 0;
        }

        .role {
          font-size: 1.5rem;
        }

        .company {
          margin-top: 0;
          font-size: 1rem;
        }
      }
    }
  }

  @include u.media('dl') {
    ul.career {
      margin-top: 15vh;

      li {
        padding: 2vh 1.5vh;
      }
    }
  }
}
