<p class="huge">
  Boring, boring, boring
</p>

<p class="list">
  Javascript * Typescript * C# * Node JS * HTML * CSS / SCSS / SASS * Angular / React / Vue and more * GitHub /
  Bitbucket * Docker * Atlassian’s tools suite * Three / BabylonJS * UE5 * Proficient in Agile / Scrum methodology
</p>

<ul class="career-wrapper">
  @for (c of careerSteps; track $index) {
    <li>
      <div class="years">{{ c.startDate.getFullYear() }} - {{ c.endDate.getFullYear() }}</div>
      <div class="role">{{ c.role }}</div>
      <div class="company">{{ c.company }}</div>
    </li>

  }
</ul>
