@use 'effects' as e;
@use 'utils' as u;

:host {
  position: relative;
  display: block;

  p {
    color: var(--secondary-color);
  }

  .flicker-fade-in,
  .slow-fade-in {
    opacity: 0;
  }

  &.visible {
    .slow-fade-in {
      @include e.slowFadeIn;
    }

    .flicker-fade-in {
      @include e.flickerFadeIn;
    }
  }

  @include u.media('tl') {
    padding: 20vw 10vw;
    min-width: 80vw;
  }

  @include u.media('d') {
    min-width: 80vw;
  }

  @include u.media('dl') {
    min-width: 60vw;
  }
}
