<p>
  <span class="slow-fade-in">Development of robust, scalable </span>
  <span [textScrambleLeftToRight]="'front-end solutions'" [paused]="!visible()">--------- ---------</span>
  <span class="flicker-fade-in"> for E-Commerce platforms, SPA/MPA applications, portals, CMS,  back office systems, and PWAs.</span>
  <span class="slow-fade-in">Includes architectural design for back-end service integration, dependency optimization, and performance
    enhancement.</span>
  <span class="slow-fade-in">Expertise in establishing team workflows aligned with </span>
  <span [textScrambleLeftToRight]="'CI/CD infrastructures'" [paused]="!visible()">--/-- ////-------///-</span>
  <span class="flicker-fade-in"> and maintaining code quality standards.</span>
  <span class="flicker-fade-in">Solutions implemented across </span>
  <span [textScrambleLeftToRight]="'major front-end frameworks.'"
        [paused]="!visible()">///// ------/// -------///.</span>
  <span
    class="color-shift">Cross-platform UX design with emphasis on information architecture, accessibility standards,</span>
  <span class="slow-fade-in">and comprehensive testing protocols.</span>
  <span class="flicker-fade-in">Specialization in transforming UX wireframes and low-fidelity interfaces</span>
  <span [textScrambleLeftToRight]="'into refined solutions'" [paused]="!visible()">//// \\\\\\\ ---------</span>
  <span class="color-shift"> through strategic implementation of color theory, typography principles, and iconographic design.</span>
  <span class="slow-fade-in">Creation of 3D models and scenes optimized</span>
  <span class="flicker-fade-in">for both real-time and production rendering, encompassing the complete
    pipeline from modeling through texturing to final composition.</span>
  <span class="slow-fade-in">Implementation of 3D real-time web and Unreal Engine application</span>
  <span [textScrambleLeftToRight]="'for end-user applications'" [paused]="!visible()">\\\ -/--//// \\\\\\//////</span>
  <span class="color-shift">and development tools.</span>
</p>
