// Light theme
$bg-color-light: rgb(24, 24, 24);
$primary-color-light: rgb(246, 21, 57);
$secondary-color-light: rgb(241, 241, 241);

// Dark theme
$bg-color-dark: #2d2d2d;
$primary-color-dark: #FF0D2D;
$secondary-color-dark: #d9d9d9;
