// Light theme
$bg-color-light: #EAEAEA;
$primary-color-light: #FF0D2D;
$secondary-color-light: #313131;

// Dark theme
$bg-color-dark: #2d2d2d;
$primary-color-dark: #FF0D2D;
$secondary-color-dark: #d9d9d9;
