// Light theme
$bg-color-light: #181818;
$primary-color-light: #f61539;
$secondary-color-light: #F1F1F1;

// Dark theme
$bg-color-dark: #2d2d2d;
$primary-color-dark: #FF0D2D;
$secondary-color-dark: #d9d9d9;
