@use "utils" as u;

@mixin headerFooterPadding($isFooter: false) {
  padding: 1.5rem;

  @include u.media('t') {
    padding: 1.5rem 1.75rem;
  }

  @include u.media('d') {
    @if ($isFooter) {
      padding: 1.5rem 1.25rem
    } @else {
      padding: 1.75rem 2rem;
    }
  }
}
