// TODO: Check if this class/es are used

@use "vars" as v;

$horizontal-blur-on: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="blur">\
        <feGaussianBlur stdDeviation="8 0"/>\
      </filter>\
    </svg>#blur');

$horizontal-blur-off: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="blur">\
        <feGaussianBlur stdDeviation="0 0"/>\
      </filter>\
    </svg>#blur');

@mixin textBlock() {

  .text-block {
    display: inline-block;
    border-radius: 0.2rem;

    color: var(--bg-color);

    transform: translateX(5vw);
    filter: $horizontal-blur-on;

    transition-property: color, transform;
    transition-duration: v.$transition-time-half;
    transition-timing-function: ease-in-out;
  }

  .show-text-block .text-block {
    color: var(--primary-color);
    transform: translateX(0);
    filter: $horizontal-blur-off;
  }
}
