@use 'utils' as u;

// Default font family
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@600&display=swap');

%text-basic {
  font-family: "Fragment Mono", serif;
  font-weight: 500;
  font-style: normal;

  text-rendering: geometricPrecision;
  text-transform: uppercase;

  font-size: 1rem;
  line-height: 2rem;

  @include u.media('tl') {
    font-size: 1.15rem;
    line-height: 2.25rem;
  }

  @include u.media('dl') {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}

@mixin text-emoticon {
  font-family: "Tomorrow", serif;
  font-weight: 600;
  font-style: normal;

  color: var(--secondary-color);
}

@mixin text-primary {
  @extend %text-basic;
  color: var(--primary-color);
}

@mixin text-secondary {
  color: var(--secondary-color);
}

@mixin text-weight($weight: 700) {
  font-weight: $weight;
}

@mixin text-small {
  font-size: 0.75rem;
  letter-spacing: 1.25px;
  line-height: 1.25rem;

  @include u.media('tl') {
    font-size: 0.825rem;
    letter-spacing: 1.5px;
    line-height: 1.35r em;
  }

  @include u.media('dl') {
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    line-height: 1.5rem;
  }
}

@mixin text-x-small {
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  line-height: 1.25rem;
}
