@use 'utils' as u;

// Default font family
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@600&display=swap');



%text-basic {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;

  text-rendering: geometricPrecision;
  text-transform: uppercase;

  line-height: 2.2rem;

  @include u.media('tl') {
    font-size: 1.15rem;
    line-height: 2.25rem;
  }

  @include u.media('dl') {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}

@mixin text-emoticon {
  font-family: "Tomorrow", serif;
  font-weight: 600;
  font-style: normal;

  color: var(--secondary-color);
}

@mixin text-primary {
  @extend %text-basic;
  color: var(--primary-color);
}

@mixin text-secondary {
  color: var(--secondary-color);
}
