// Transitions
$transition-time: 222ms;
$transition-time-double: $transition-time * 2;
$transition-time-quad: $transition-time * 4;
$transition-time-half: $transition-time * 0.5;

$scroll-time: 280ms;

