@use 'commons' as c;
@use 'typo' as t;
@use 'utils' as u;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30vh;

  @include c.sectionPadding;

  .huge {
    @include t.text-huge;
  }

  .secondaries {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sound-credits {
    padding: 0 0.25rem;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: var(--text-color-light);
  }

  .emoticon {
    margin-bottom: 2.5vh;
    font-size: 12vw;
  }

  @include u.media("t") {
    .emoticon {
      font-size: 5.5vw;
    }
  }

  @include u.media("tl") {
    .emoticon {
      font-size: 4.5vw;
      margin-bottom: 4vh;
    }
  }

  @include u.media("dl") {
    .emoticon {
      font-size: 3vw;
    }
  }
}
