@use 'commons' as c;
@use 'typo' as t;
@use 'utils' as u;

:host {
  position: relative;
  display: flex;
  flex-direction: column;

  @include c.sectionPadding;

  app-d-strip {
    margin-top: 10vh;
    width: 92vw;
  }

  .design-texts {
    display: flex;
    flex-direction: column;

    &__title {
      margin-top: 6vh;
      max-width: 56rem;
      @include t.text-huge;
    }

    &__text {
      margin-top: 6vh;
      max-width: 30rem;
    }
  }

  @include u.media('tl') {
    .text-wrapper {
      flex-direction: row;
      justify-content: flex-start;

      gap: 14vw;

      p.huge {
        flex: 3;
      }

      p.text {
        flex: 2;
      }
    }
  }
}
