@use 'utils' as u;
@use 'typo' as t;

:host {
  position: relative;
  display: block;

  padding: 0.5rem 0;

  .main {
    padding: 2rem 2.5rem;
    color: var(--bg-color);
    font-weight: 600;
    @include t.text-small;

    &.vertical {
      height: 70vh;
      writing-mode: sideways-lr;
    }

    &.primary {
      background-color: var(--primary-color);
    }

    &.secondary {
      background-color: var(--secondary-color);
    }
  }

  .def {
    padding: 0.5rem 0;
    @include t.text-x-small;

    &.primary {
      color: var(--primary-color);
    }

    &.secondary {
      color: var(--secondary-color);
    }
  }
}
