<div class="logo-wrapper">
  <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 670 340">
    <use xlink:href="/logo.svg#A"/>
    <use xlink:href="/logo.svg#M1"/>
    <use xlink:href="/logo.svg#M2"/>
    <use xlink:href="/logo.svg#M3"/>
  </svg>
</div>

<section class="intro text-justify">
  <p class="text-secondary">
    I'm a front-end engineer with a deep love for UX/UI design and 3D CGI.
  </p>
  <p>
    Passionate about visual interfaces from early age, I have honed my design and development skills through a career that has taken me from freelance to enterprise companies. I use a methodical approach for each task, believing that an accurate and precise analysis is the foundation of any solid, effective and lasting solution. This approach has always been complemented by my love in crafting intuitive and effective user experiences, playing with fonts, colors and motion.
  </p>
</section>

<article class="color">
  <ul>
    <li>
      <div class="color__data color__data--primary">
        HEX: #e8002d,<br>
        RGB: 232, 0, 45,<br>
        RAL: RAL 3027,<br>
        RAL Effect: RAL 450-6,<br>
        RAL Design: RAL 040 50 70,<br>
        CIELAB: lab(48.69939, 75.21094, 44.76759),<br>
        HSL: 348, 100%, 45%,<br>
        HSB: 348, 100%, 91%,<br>
        CMYK: 0%, 100%, 81%, 9%,<br>
        WEBSAFE: #ff0033,br
        PANTONE: 185 C <br>
      </div>
      <div class="color__def">
        //////// main
      </div>
    </li>
    <li>
      <div class="color__data color__data--secondary">
        HEX: #e8002d,<br>
        RGB: 232, 0, 45,<br>
        RAL: RAL 3027,<br>
        RAL Effect: RAL 450-6,<br>
        RAL Design: RAL 040 50 70,<br>
        CIELAB: lab(48.69939, 75.21094, 44.76759),<br>
        HSL: 348, 100%, 45%,<br>
        HSB: 348, 100%, 91%,<br>
        CMYK: 0%, 100%, 81%, 9%,<br>
        WEBSAFE: #ff0033,br
        PANTONE: 185 C <br>
      </div>
      <div class="color__def text-secondary">
        //////// secondary
      </div>
    </li>
  </ul>
</article>

