@use 'typo' as t;
@use 'utils' as u;
@use 'vars' as v;

@use 'hud-glass';

:host {
  position: relative;
  height: 100vh;
  display: block;
  padding: 6rem 15vw;
  overflow-y: auto;

  @include t.text-primary;

  transition: padding v.$transition-time ease-out;

  > * {
    transition-property: height, margin-bottom, margin-left, margin-right;
    transition-duration: v.$transition-time-quad;
    transition-timing-function: ease-out;
  }

  .background-progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 70vh;

    color: transparent;
    opacity: 0.5;
    -webkit-text-stroke: 2px var(--primary-color);

    pointer-events: none;
  }

  .logo-wrapper {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #logo {
      height: 18vh;
      max-width: 12rem;

      padding: 2rem 0;
      fill: var(--primary-color);
    }
  }

  section:not(:last-child),
  article {
    margin-bottom: 7rem;
  }

  .history {
    ul li {
      margin-bottom: 2rem;
    }
  }

  &.initial-position {
    .logo-wrapper {
      height: 70vh;
      margin-bottom: 20vh;
      transition: none;
    }
  }

  @include u.media('tl') {
    width: 100vw;
    padding: 0 0 0 7vw;

    overflow-y: hidden;
    overflow-x: auto;

    display: flex;
    flex-direction: row;
    align-items: center;

    .logo-wrapper {
      height: 100vh;
      min-width: 25vw;
    }

    section:not(:last-child),
    article {
      margin-bottom: 0;
      margin-right: 6vw;
    }

    .color ul {
      display: flex;
      flex-direction: row;

      li:not(:last-child) {
        margin-bottom: 0;
        margin-right: 3vw;
      }
    }

    .history {
      display: flex;
      margin-right: 20vw;

      ul {
        flex: 1;
        padding-right: 4vw;
        display: flex;

        li {
          margin-bottom: 0;
          margin-right: 3vw;
        }
      }
    }

    &.initial-position {

      padding: 0;

      .logo-wrapper {
        height: 100vh;
        margin-bottom: 0;
        margin-left: 37.5vw;
        margin-right: 37.5vw;

        transition: none;
      }
    }
  }
}
