@use 'utils' as u;
@use 'typo' as t;

:host {
  position: relative;
  height: 100vh;
  display: block;
  padding: 6rem 15vw;
  overflow-y: auto;

  .text-justify {
    text-align: justify;
  }

  .text-secondary {
    color: var(--secondary-color);
  }

  @include t.text-primary;

  .logo-wrapper {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: start;
    align-items: center;

    #logo {
      height: 18vh;
      max-width: 12rem;

      padding: 2rem 0;
      fill: var(--primary-color);
    }
  }

  section:not(:last-child),
  article {
    margin-bottom: 7rem;
  }

  .intro p:not(:last-child){
    margin-bottom: 2rem;
  }

  .history {
    ul li{
      margin-bottom: 2rem;
    }
  }
}
