<div class="background-progress">
  {{ scrollProgress }}%
</div>


<div class="logo-wrapper">
  <app-logo (logoVisible)="logoVisibleChange($event)" hudGlassShadow [update]="scrollUpdate"
            [orientation]="screenSrv.screenOrientation()!" [autoUpdate]="hudAutoUpdate" />
</div>

<section intro
         [visible]="sectionsVisible().intro"
         inViewport (changed)="sectionChanged('intro', $event)">
</section>

<article class="color">
  <ul>
    <li>
      <app-color-data
        hudGlassShadow [update]="scrollUpdate"
        [def]="'main'"
        [orientation]="screenSrv.screenOrientation()!">
        HEX: #e8002d,<br>
        RGB: 232, 0, 45,<br>
        RAL: RAL 3027,<br>
        RAL Effect: RAL 450-6,<br>
        RAL Design: RAL 040 50 70,<br>
        CIELAB: lab(48.69939, 75.21094, 44.76759),<br>
        HSL: 348, 100%, 45%,<br>
        HSB: 348, 100%, 91%,<br>
        CMYK: 0%, 100%, 81%, 9%,<br>
        WEBSAFE: #ff0033,br
        PANTONE: 185 C <br>
      </app-color-data>
    </li>
    <li>
      <app-color-data
        hudGlassShadow [update]="scrollUpdate" [hudColor]="'241, 241, 241'"
        [def]="'secondary'" [color]="'secondary'"
        [orientation]="screenSrv.screenOrientation()!">
        HEX: #e8002d,<br>
        RGB: 232, 0, 45,<br>
        RAL: RAL 3027,<br>
        RAL Effect: RAL 450-6,<br>
        RAL Design: RAL 040 50 70,<br>
        CIELAB: lab(48.69939, 75.21094, 44.76759),<br>
        HSL: 348, 100%, 45%,<br>
        HSB: 348, 100%, 91%,<br>
        CMYK: 0%, 100%, 81%, 9%,<br>
        WEBSAFE: #ff0033,br
        PANTONE: 185 C <br>
      </app-color-data>
    </li>
  </ul>
</article>

<section more
         [visible]="sectionsVisible().more"
         inViewport (changed)="sectionChanged('more', $event)">
</section>

<section class="history">
  <h2 class="visually-hidden">My story:</h2>
  <ul>
    @for (h of history; track h.company; let i = $index) {
      <li>
        <app-history-step
          hudGlassShadow [update]="scrollUpdate"
          [hudColor]="i === 0 ? '241, 241, 241': '246, 21, 57'"
          [company]="h.company"
          [orientation]="screenSrv.screenOrientation()!"
          [role]="h.role"
          [time]="h.time"
          [variant]="i === 0 ? 'secondary' : 'primary'" />
      </li>
    }
  </ul>
</section>

