@use 'utils' as u;

:host {
  position: relative;
  display: flex;
  justify-content: flex-end;

  picture {
    height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 2vw;
    background-color: var(--secondary-color);
  }

  @include u.media('tl') {
    picture {
      padding: 1.5vw;
    }
  }
}
