<picture>
  <img [ngSrc]="'bitmap/logo-squared-0.png'" alt="Andrea Mandini" width="1080" height="1080">
</picture>
<picture class="extra">
  <img [ngSrc]="'bitmap/logo-squared-1.png'" alt="Andrea Mandini" width="1080" height="1080">
</picture>
<picture class="extra">
  <img [ngSrc]="'bitmap/logo-squared-2.png'" alt="Andrea Mandini" width="1080" height="1080">
</picture>
<picture class="extra">
  <img [ngSrc]="'bitmap/logo-squared-3.png'" alt="Andrea Mandini" width="1080" height="1080">
</picture>

