@use 'vars' as v;

:host {
  position: relative;
  display: block;
  min-height: 100vh;

  overflow-y: hidden;

  main {
    transition-property: transform;
    transition-duration: v.$scroll-time;
    transition-timing-function: ease-out;
  }
}
