@use 'typo' as t;
@use 'utils' as u;
@use 'vars' as v;

:host {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition-property: background-color, color, border;
  transition-duration: v.$transition-time-half;
  transition-timing-function: ease-in-out;

  // Size variants

  &.small {
    border-radius: 0.25rem;
    padding: 0 0.65rem;
    height: 1.875rem;

    @include t.text-small;
    @include t.text-weight(600);

    @include u.media('tl') {
      padding: 0.45rem 0.8rem;
    }
  }

  &.standard {
    height: 3rem;
    padding: 0 1rem ;
  }

  // Color variants

  &.primary {
    background-color: var(--primary-color);
    color: var(--bg-color);

    @include u.media('mouse') {
      &:hover,
      &:focus {
        background-color: var(--secondary-color);
      }

      &:active {
        background-color: var(--secondary-color);
        color: var(--primary-color);
      }
    }
  }

  &.secondary {
    background-color: var(--secondary-color);
    color: var(--bg-color);

    @include u.media('mouse') {
      &:hover,
      &:focus {
        background-color: var(--primary-color);
      }

      &:active {
        background-color: var(--bg-color);
        color: var(--secondary-color);
      }
    }
  }

  &.tertiary {
    background-color: var(--bg-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);

    @include u.media('mouse') {
      &:hover,
      &:focus {
        color: var(--primary-color);
        border-color: var(--primary-color);
      }

      &:active {
        background-color: var(--bg-color);
        color: var(--primary-color);
      }
    }
  }

  &.neutral {
    background-color: transparent;
    color: var(--secondary-color);

    @include u.media('mouse') {
      &:hover,
      &:focus {
        background-color: var(--primary-color);
        color: var(--bg-color);
      }

      &:active {
        background-color: var(--bg-color);
        color: var(--secondary-color);
      }
    }
  }
}
