@use 'commons' as c;
@use 'utils' as u;
@use 'vars' as v;

@mixin transition($delay: 1, $duration: v.$transition-time) {
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
  transition-duration: $duration;

  transition-delay: v.$transition-time * $delay;
}

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  min-height: calc(var(--vh, 1vh) * 100);
  transition: min-height v.$transition-time ease-in-out;

  @include c.sectionPadding;

  .emoticon {
    margin-bottom: 4vh;
    font-size: 12vw;
    font-weight: 500;
    text-transform: uppercase;

    opacity: 0;
    transform: translateY(2vh);

    @include transition(2, v.$transition-time);

    .primary {
      color: var(--primary-color);
    }

    .secondary {
      color: var(--secondary-color);
    }
  }

  img {
    width: 100%;
    max-width: 94rem;

    opacity: 0;
    transform: translateY(2vh);

    @include transition(3, v.$transition-time * 2);
  }

  &.visible {

    img,
    .emoticon {
      opacity: 1;
      transform: translateY(0);
    }

  }

  @include u.media('t') {
    .emoticon {
      font-size: 8vw;
    }
  }

  @include u.media('t') {
    .emoticon {
      font-size: 6.5vw;
    }
  }

  @include u.media('dl') {
    .emoticon {
      font-size: 5vw;
    }
  }
}
