@use "commons" as c;
@use "utils" as u;
@use "vars" as v;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  min-height: calc(var(--vh, 1vh) * 100);
  transition: min-height v.$transition-time ease-in-out;

  perspective: 100vw;

  @include c.sectionPadding;

  .hand {
    display: inline-block;
    transform-origin: bottom left;
  }

  .emoticon {
    margin-bottom: 4vh;
    font-size: 12vw;
    font-weight: 500;
    text-transform: uppercase;

    .primary {
      color: var(--primary-color);
    }

    .secondary {
      color: var(--secondary-color);
    }

    .eye {
      display: inline-block;
      transform-origin: center 30%;
    }
  }

  img {
    width: 100%;
    max-width: 94rem;

    transform-origin: top center;
  }

  @include u.media("t") {
    .emoticon {
      font-size: 8vw;
    }
  }

  @include u.media("t") {
    .emoticon {
      font-size: 6.5vw;
    }
  }

  @include u.media("dl") {
    .emoticon {
      font-size: 5vw;
    }
  }
}
