:host {
  position: relative;
  min-height: 100vh;
  display: block;
  box-sizing: border-box;

  overflow: hidden;

  .loading {
    &--out {
      animation: out 0.5s ease-in-out forwards;
    }
  }
}

@keyframes out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vh);
  }
}
