@if (orientation() === 'horizontal') {
  <svg id="logo-vertical" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 801">
    <use class="logo-part1" href="/logo-vertical.svg#A" />
    <use class="logo-part2" href="/logo-vertical.svg#M2" />
    <use class="logo-part3" href="/logo-vertical.svg#M3" />
    <use class="logo-part4" href="/logo-vertical.svg#M1" />
  </svg>
} @else {
  <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 670 340">
    <use class="logo-part1" href="/logo.svg#A" />
    <use class="logo-part2" href="/logo.svg#M1" />
    <use class="logo-part3" href="/logo.svg#M2" />
    <use class="logo-part4" href="/logo.svg#M3" />
  </svg>
}

