@mixin create-flicker($name, $steps: 5) {
  @keyframes #{$name} {
    0% {
      fill-opacity: 0;
    }

    @for $i from 1 through $steps - 1 {
      $percentage: percentage($i / $steps);
      #{$percentage} {
        $random-opacity: 0.05 + (($i * 0.137 + $i * 0.333) % 0.8);
        fill-opacity: $random-opacity;
      }
    }

    100% {
      fill-opacity: 1;
    }
  }
}

@include create-flicker('flicker-1', 7);
@include create-flicker('flicker-2', 6);
@include create-flicker('flicker-3', 8);
@include create-flicker('flicker-4', 4);

:host {
  position: relative;
  display: block;

  svg {
    fill: var(--primary-color);
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: var(--primary-color);
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;

    animation: show-logo 0.75s forwards;
  }

  #logo {
    width: 40vw;
    padding: 2rem 0;
  }

  @for $i from 1 through 4 {
    .logo-part#{$i} {
      $random-duration: 0.5 + (($i * 0.137 + $i * 0.333) % 0.3);
      animation: flicker-#{$i} #{$random-duration}s forwards 0.5s;
    }
  }

  #logo-vertical {
    width: auto;
    height: 35vh;
    padding: 0 3rem;
  }
}

@keyframes show-logo {
  0% {
    stroke-dashoffset: 2000;
  }

  100% {
    stroke-dashoffset: 0;
  }

}
