@if (orientation() === 'horizontal') {
  <svg id="logo-vertical" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 865">
    <use xlink:href="/logo-vertical.svg#A" />
    <use xlink:href="/logo-vertical.svg#M1" />
    <use xlink:href="/logo-vertical.svg#M2" />
    <use xlink:href="/logo-vertical.svg#M3" />
  </svg>
} @else {
  <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 670 340">
    <use xlink:href="/logo.svg#A" />
    <use xlink:href="/logo.svg#M1" />
    <use xlink:href="/logo.svg#M2" />
    <use xlink:href="/logo.svg#M3" />
  </svg>
}

