:host {
  position: relative;
  display: block;

  #logo {
    height: 18vh;
    max-width: 12rem;

    padding: 2rem 0;
    fill: var(--primary-color);
  }

  #logo-vertical {
    width: 10vw;
    max-width: 16rem;

    padding: 0 3rem;
    fill: var(--primary-color);
  }
}
