@use 'sass:math';
@use 'utils' as u;

@mixin create-flicker($name, $steps: 5) {
  @keyframes #{$name} {
    0% {
      fill-opacity: 0;
    }

    @for $i from 1 through $steps - 1 {
      $percentage: math.percentage(calc($i / $steps));
      #{$percentage} {
        $random-opacity: 0.05 + (($i * 0.137 + $i * 0.333) % 0.8);
        fill-opacity: $random-opacity;
      }
    }

    100% {
      fill-opacity: 1;
    }
  }
}

@include create-flicker('flicker-1', 7);
@include create-flicker('flicker-2', 6);
@include create-flicker('flicker-3', 8);
@include create-flicker('flicker-4', 4);

:host {
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 4vw;

  perspective: 1000px;

  svg {
    fill: var(--primary-color);
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: var(--primary-color);
    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;

    animation: show-logo 0.75s forwards;

    z-index: 1;
  }

  svg.am {
    position: absolute;
    width: 22vh;
    transform: rotateY(0deg);
    fill: var(--bg-color);
    fill-opacity: 0.15;
    stroke: var(--secondary-color);
  }

  #logo {
    width: 45vw;
  }

  @for $i from 1 through 4 {
    .logo-part#{$i} {
      $random-duration: 0.5 + (($i * 0.137 + $i * 0.333) % 0.3);
      animation: flicker-#{$i} #{$random-duration}s forwards 0.5s;
    }
  }

  #logo-vertical {
    width: auto;
    height: 30vh;
  }

  @include u.media('t') {
    #logo {
      width: 30vw;
    }
  }

  @include u.media('tl') {
    padding: 4vh;
  }
}

@keyframes show-logo {
  0% {
    stroke-dashoffset: 2000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
