@use 'effects' as e;
@use 'typo' as t;
@use 'commons' as c;
@use 'utils' as u;
@use 'vars' as v;

:host {
  position: relative;
  display: block;

  padding-top: 20vh;

  @include c.verticalPadding;
  @include c.sidesPadding;

  @include u.media('d') {
    padding-top: 24vh;
  }

  @include u.media('dxl') {
    padding-top: 26vh;
  }

  .flicker-fade-in {
    opacity: 0;
  }

  section.visible .flicker-fade-in{
    @include e.flickerFadeIn;
  }

  p {
    margin-bottom: 4vh;
  }

  b {
    @include t.text-secondary;
  }

  h1 {
    @include t.text-emoticon;
    margin-bottom: 8vh;

    @include u.media('d') {
      margin-bottom: 10vh;
    }

    @include u.media('dxl') {
      margin-bottom: 12vh;
    }
  }
}


