@use 'typo' as t;
@use 'commons' as c;
@use 'utils' as u;

:host {
  position: relative;
  display: block;

  padding-top: 10vh;
  padding-bottom: 10vh;

  @include c.sidePadding;

  @include u.media('d') {
    padding-right: 40vw;
  }

  @include u.media('dl') {
    padding-right: 40vw;
  }

  @include u.media('dxl') {
    padding-right: 50vw;
  }

  p {
    margin-bottom: 4vh;
  }

  b {
    @include t.text-secondary;
  }

  h1 {
    @include t.text-emoticon;
    margin-bottom: 8vh;
  }
}
