<section
  inViewport
  [class.visible]="globalVisible"
  (visibilityChange)="visibilityChange($event)"
>
  <h1 [textScrambleLeftToRight]="'( ・_・)ノ'" [iteration]="16" aria-label="hello"></h1>
  <p>
    <span class="simple-fade">I'm a </span>
    <b [textScrambleLeftToRight]="'front-end engineer'" [paused]="scrambleTextPaused"></b>
    <br>
    <span class="simple-fade">with a deep love for </span>
    <b [textScrambleLeftToRight]="'UX/UI'" [paused]="scrambleTextPaused"></b>
    <span class="simple-fade"> design and </span>
    <b [textScrambleLeftToRight]="'3D CGI .'" [paused]="scrambleTextPaused"></b>
  <p>
    <span class="simple-fade">Passionate about visual interfaces from early age, I have honed my </span>
    <b [textScrambleLeftToRight]="'design'" [paused]="scrambleTextPaused"></b>
    <span class="simple-fade"> and </span>
    <b [textScrambleLeftToRight]="'development skills'" [paused]="scrambleTextPaused"></b>
    <span class="simple-fade"> through a career that has taken me from freelance to enterprise companies.</span>
  </p>
  <p>
    <span class="simple-fade">I use a methodical approach for each task, believing that an accurate and precise analysis is the foundation of any </span>
    <b [textScrambleLeftToRight]="'solid, effective and lasting solution'" [paused]="scrambleTextPaused" [iteration]="2"></b>
    <span class="simple-fade">. This approach has always been complemented by my love in crafting intuitive and effective user experiences, playing with fonts, colors and motion.</span>
  </p>
</section>
