@use "reset";
@use "vars" as v;
@use "typo" as t;
@use "colors" as c;
@use "themes" as th;
@use "a11y" as a;

// Theme fallback default
:root {
  --bg-color: #{c.$bg-color-light};
  --primary-color:#{c.$primary-color-light};
  --secondary-color:#{c.$secondary-color-light};
}

body {
  // Themes
  @include th.dark();
  @include th.light();

  // Body styles
  background-color: var(--bg-color);

  @include t.text-primary();

  // Global transitions
  transition-property: background-color, color;
  transition-duration: v.$transition-time;
  transition-timing-function: ease-in-out;

  // A11y
  .visually-hidden {
    @include a.visually-hidden;
  }
}
